<%- include("head.ejs") %>
<body>
    <main>
        <h1>
            <p>Subsites</p>
        </h1>
        <ul>
            <li>
                <a href="/all/tankmuseum"><%= mname %></a> 
            </li>
            <li>
                <a href="/all/about"><%= aname %></a>
            </li>
        </ul>
    </main>
</body>
</html>