<%- include("head.ejs") %>
<body>
    <main>
        <h1>
            <%= data[0] %>
        </h1>
        <ul id="tanks">
            <% data[1].forEach(function(tank){ %>
                <li>
                    <%= tank[0] %> - <%= tank[1] %>
                </li>
                <% }) %>
        </ul>
        <div>
            <h3>New tank</h3>
            <form action="/all/tankmuseum/new" method="POST">
                <div>
                    <input type="text" name="country" id="country" required minlength="1" maxlength="500" placeholder="Nation"/>

                    <input type="text" name="tankName" id="tankName" required minlength="1" maxlength="500" placeholder="Name"/>
                </div>
                <div>
                    <button>Add tank to museum</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>