<%- include("head.ejs") %>
<body>
    <main>
        <h1>
            <%= a %>
        </h1>
        <ul id="tanks">
            <% data.forEach(function(tank){ %>
                <li>
                    <%= tank.nation %> - <%= tank.name %>
                </li>
                <% }) %>
        </ul>
        <div>
            <h3>New tank</h3>
            <form action="/all/tankmuseum/new" method="POST">
                <div>
                    <input type="text" name="nation" id="nation" required minlength="1" maxlength="500" placeholder="Nation"/>

                    <input type="text" name="name" id="name" required minlength="1" maxlength="500" placeholder="Name"/>
                </div>
                <div>
                    <button>Add tank to museum</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>