html {
    background-color: #830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: #ded;
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

button {
    padding: 20px;
    background-color: rgb(93, 171, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    display: block;
}

div {
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}